//Colors:
$dark-purple: #331832; //background
$neon-blue: #5465ff; //left
$magenta: #922d50; //right
$black: #00000038; //box-text
$alice-blue: #dbe4ee; //caracters

@mixin display_flow($display: flex, $flow: row) {
  display: $display;
  flex-flow: $flow;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
}

body {
  background-color: $dark-purple;
  margin: 0;
}

.container {
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, $neon-blue 50%, #922d50 -50%);
  animation: anime 8s ease-in-out infinite alternate;
  z-index: -1;
  opacity: 1;
}

.container__layer1 {
  position: relative;
  animation-direction: alternate-reverse;
  animation-duration: 5s;
}
.container__layer2 {
  animation-duration: 8s;
  animation-direction: reverse;
}

.container__clock {
  position: absolute;
  background-color: $black;
  backdrop-filter: blur(0.5rem);
  border-radius: 2rem;
  padding: 1rem 5rem;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--timer {
    font-size: 10rem;
    color: $alice-blue;
  }
}

@keyframes anime {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
